.gradle/
.idea/
build/
robovm-build/
*.iml
local.properties
build/docs/
ui/ui/js/jvm-service
ui/ui/js/build-config.js
generated/
ui-services/generated
__pycache__/
*.old
android/src/main/resources/sly-logger.properties
desktop/src/main/resources/sly-logger.properties
ios/xcode/sly-logger.properties
xcuserdata/
.DS_Store
