.main-content {
    margin-top: 56px;
}

.header-bar {
    height: 56px;
    margin-bottom: 0;
    background: #212121;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-radius: 0px;
}

.header-bar i {
    font-size: 24px;
    line-height: 56px;
    color: #fff;
}

#page-title {
    font-size: 22px;
    color: #fff;
    line-height: 56px;
    margin-left: 30px;
}

.main-content-body {
    top: 0;
}

.contact-link {
    min-height: 73px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    background: #e7e7e7;
}

.new-messages {
    background: #b1b1b1;
}

.new-messages p {
    color: black;
}

.new-messages span {
    color: #272727;
}

.modalHeader {
    text-align: center;
    margin-bottom: 50px;
}

.modalContent {
    text-align: center;
}