.main-content {
    margin-top: 52px;
}

.header-bar {
    height: 56px;
    min-height: 56px;
    margin-bottom: 0;
    background: #212121;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-radius: 0px;
}

.header-bar i {
    font-size: 24px;
    line-height: 56px;
    color: #fff;
}

#page-title {
    font-size: 22px;
    color: #fff;
    line-height: 56px;
    margin-left: 30px;
}

.main-content-body {
    top: 0;
}

.contact-link {
    height: 70px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    border-bottom: 1px solid gray;
}

.contact {
    padding-bottom: 2px;
}

.contact-link p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.modalHeader {
    text-align: center;
    margin-bottom: 50px;
}

.modalContent {
    text-align: center;
}

#newMessageInputContainer {
    position: relative;
    min-height: 100px;
    margin-top: 0;
}

#newMessageInput {
    position: absolute;
    border-bottom: none;
    border-left: none;
    border-right: none;
    bottom: 0;
    left: 0;
    padding-right: 50px;
}

#newMessageSubmitBtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background: black;
    border: none;
}

.first-contact {
    border-top: 1px solid gray;
}

.contact span {
    font-size: 10px;
    margin-right: -5px;
}

.intl-tel-input {
    display: none;
}