body div iframe {
    -webkit-transform: translate3d(0,0,0);
}

.transparentBtn {
    background-color: transparent;
    box-shadow: none;
    color: #0086C5;
    padding: 10px;
    height: 36px;
    line-height: 1px;
    outline: none !important;
}

.transparentBtn:hover, .transparentBtn:focus {
    color: #0086C5;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.main-content {
    margin-top: 56px;
}

.header-bar {
    height: 56px;
    min-height: 56px;
    margin-bottom: 0;
    background: #212121;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-radius: 0px;
}

.header-bar i {
    font-size: 24px;
    line-height: 56px;
    color: #fff;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1000;
}
#navBarMenu .dropDownBtn {
    background-color: transparent;
    width: 56px;
    height: 56px;
    padding: 0;
    box-shadow: none;
    outline: none;
}
#navBarMenu .dropDownBtn:focus {
    outline: none;
}

.page-title {
    font-size: 22px;
    color: #fff;
    line-height: 56px;
    margin-left: 30px;
}

.main-content-body {
    top: 0;
}

.contact-link, .recent-contact-link {
    height: 70px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    border-bottom: 1px solid gray;
}

.contact-link p, .recent-contact-link p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    padding-bottom: 2px;
}

.first-contact {
    border-top: 1px solid gray;
}

.contact span {
    font-size: 10px;
    margin-right: -5px;
}

.intl-tel-input {
    display: none;
}
html {
    height: 100%;
}
input, select {
    background-color: white !important;
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
    box-sizing: border-box !important;         /* Opera/IE 8+ */
    border-radius: 5px !important;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    transition: all .3s;
}
input[type='checkbox']:checked + label {
    color: #26a69a;
}
button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
}
button.secondary-color {
    background-color: #26a69a
}
button.btn-large {
    height: 54px;
    line-height: 56px;
}
.valign-wrapper {
    align-items: center;
    display: flex;
}
.valign-wrapper .valign {
    display: block;
}
.row .col.s12 {
    width: 100%;
    margin-left: 0;
}
.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
}
.group-form {
    padding-left: 0;
    padding-right: 0;
}
.group-form i {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
    font-size: 19px;
    color: rgb(68, 68, 68);
}
#phoneIntlExt {
    line-height: 1;
    position: absolute;
    padding: 15px 5px 15px 12px;
    margin-right: 7px;
    pointer-events: none;
    font-size: 19px;
    color: rgb(68, 68, 68);
    border-right: 1px solid rgb(68, 68, 68);
}
.group-form input, select {
    padding: 0 0 0 43px;
    display: inline-block;
}
.secondary-color-text {
    color: #26a69a;
}

.form-wrapper {
    height: 100%;
    position: relative;
    min-height: calc(100vh - 56px);
    background-color: black;
    padding: 0 15px 0 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    overflow: auto;
}

.form-wrapper .btn-large {
    width: 100%;
    margin: 20px 0;
}

.dropdown-menu {
    margin-top: 0;
}
.dropDownBtn {
    color: #fff;
    width: auto;
}
.dropdown-menu i {
    color: black;
    font-size: 14px;
    height: inherit;
    line-height: 1;
    margin-right: 10px;
    margin-left: 5px;
}
.dropdown a {
    padding-left: 0 !important;
}

/**
    Modal custom style
**/
.statusModal {
    background-color: transparent;
    box-shadow: none;
}
.statusModal .modal-header {
    display: none;
}
.statusModal .modal-dialog {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.statusModal .modal-content {
    border: none;
    height: auto;
    min-height: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: black;
}
.contextLikeModal {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    max-height: 100%;
    -webkit-user-select: none;
}
.contextLikeModalContent {
    padding: 20px;
    overflow: hidden;
}
.contextLikeModal-title {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.contextLikeModal-content {
    width: 100%;
    text-align: left;
}
.contextLikeModal-nav {
    float: right;
}
.contextLikeModal .modal-header {
    display: none;
}
.contextLikeModal .modal-dialog {
    height: auto;
    width: auto;
    padding: 0;
    margin-top: 40px;
    overflow: hidden;
}
.contextLikeModal .modal-content {
    border: none;
    height: auto;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.contextLikeModal .modal-body {
    width: 100%;
    padding: 0;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
}
.modal-open .mediumModal {
    width: 100%;
    padding: 20px;
}
.mediumModal .modal-content {
    padding: 0;
}
.modal-open .fullModal {
    padding: 0;
    margin: 0;
    left: -1px;
    width: 101%;
    min-height: 101%;
    overflow: hidden;
}
.whiteModal .modal-content {
    background-color: #fff;
    color: #9e9e9e;
}
.darkModal .modal-content {
    background-color: black;
    color: whitesmoke;
}
.statusModal .modal-body {
    width: 100%;
}
.modalHeader {
    text-align: center;
    margin-bottom: 50px;
}
.modalContent {
    text-align: center;
}
.statusModal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
/** Modal custom style end **/


/*Chat Page*/
.chat ul li {
    min-width: 100px;
    min-height: 56px;
    width: 100%;
}
.message {
    min-width: 100px;
    width: auto;
    display: inline-block;
}
.message p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.first-message .message {
    max-width: calc(100% - 71px); /* 100% of the width - margin and image */
}
.following-message .message {
    max-width: calc(100% - 26px); /* 100% of the width - margin */
}
.message-left .message {
    margin-left: 10px !important;
}
.message-right .message {
    margin-right: 10px !important;
}
#newMessageInputContainer {
    position: relative;
    min-height: 100px;
    margin-top: 0;
}
#newMessageInput {
    resize: none;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    display: inline-block;
    outline: none;
}
#newMessageInput:focus {
    outline: none;
}
#newMessageSubmitBtn:focus {
    outline: none;
}
#newMessageSubmitBtn {
    position: absolute;
    right: 5px;
    color: white;
    background: #212121;
    border: none;
    top: 0;
    height: 45px;
    outline: none;
    padding: 0;
    width: 45px;
    border-radius: 25px;
}
.bottom-chat-input {
    padding: 10px 10px 10px 20px;
    background-color: #eeeeee;
}
#chatInputContainer {
    padding-right: 55px;
    width: 100%;
    display: inline-block;
    min-height: 48px;
}
.chat ul li.message-left .message {
    background-color: #fff !important;
    float: left !important;
}
.chat ul li.message-right .message {
    background-color: #c8deff !important;
    float: right !important;
}
.first-message .message:after {
    content: "";
    position: absolute;
    top: 0;
    border-style: solid;
    display: block;
    width: 0;
}
.first-message.message-left .message:after {
    left: -10px;
    border-width: 0 20px 20px 0;
    border-color: transparent #fff;
}

.first-message.message-right .message:after {
    right: -10px;
    border-width: 0 0 20px 20px;
    border-color: transparent #c8deff;
}
.following-message {
    margin-top: -15px;
}
.following-message.message-right {
    padding-right: 45px;
}
.following-message.message-left {
    padding-left: 45px;
}
.last-sent-message .message {
    padding: 16px 32px 16px 32px !important;
}
.last-sent-message .message p {
    margin-bottom: 5px;
}
#messages, .contact-link {
    -webkit-user-select: none;
}
#messages .message-details {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 8px;
    color: #9e9e9e;
}
#multipleDeleteMenu {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    background-color: #212121;
    z-index: 3000;
    text-align: center;
    line-height: 56px;
    -webkit-user-select: none;
}
#multipleDeleteMenu button {
    height: 56px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #eeeeee;
}
.message_selected {
    background-color: #DEDEDE;
    border-radius: 5px;
}
.message_selected .avatarCircle {
    display: none;
}
.message_selected .check {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #212121;
    color: white;
    line-height: 45px;
    text-align: center;
}
.message_selected.message-right .check {
    float: right;
}
.message_selected.message-left .check {
    float: left;
}
.message_selected.following-message.message-right {
    padding-right: 0;
}
.message_selected.following-message.message-left {
    padding-left: 0;
}
.message_selected .message {
    max-width: calc(100% - 71px);
}
.contextLikeMenu {
    -webkit-user-select: none;
}
.contextLikeMenu a {
    color: #212121;
    padding-left: 15px;
    text-align: left;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
.contextLikeMenu a:hover, .contextLikeMenu a:focus {
    color: #212121;
    text-decoration: none;
}
.contextLikeMenu ul {
    margin-bottom: 0;
}
/*Chat page End*/

.tabs .indicator {
    height: 4px;
    background-color: #fff;
}

.tabs .tab a:hover, .tabs .tab a:focus{
    text-decoration: none;
}

/*Notification custom css*/
[data-notify="container"] {
    text-align: center;
    padding: 0;
    z-index: 100 !important;
}

/*Profile Page*/
#profileAvatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profileContainer .btn:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
}

.profileContainer input, select {
    border: none;
}

/*Page load animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/** Basic styles for an animated element */
.m-scene .scene_element {
    animation-duration: .45s;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.m-scene .is-exiting.scene_element {
    animation-direction: alternate-reverse;
}

/** An element that fades in */
.m-scene .scene_element--fadein {
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.m-scene .scene_element--fadeinright {
    animation-name: fadeInRight;
}

/** An element that fades in and slides from the right */
.m-scene .scene_element--fadeinleft {
    animation-name: fadeInLeft;
}
