#contactPopup .floating-button {
    top: 5px;
}
.layout-dark .top-navbar {
    box-shadow: none;
}
#mainView .navbar {
    background-color: #fff !important;
    color: black !important;
    border-bottom: 1px solid #eee;
}
.layout-dark #mainView .navbar {
    background-color: #000000 !important;
    color: #fff !important;
    border-bottom: 1px solid #222;
}
#chatPageContent {
    top: 56px;
    padding: 0;
    height: calc(100% - 103px); /* Bottom toolbar (47px) + top navbar (56px) */
}
#chat-content {
    margin-bottom: 40px;
}
.expire-message-toggled #chat-content {
    margin-bottom: 100px;
}
.bottom-chat-toolbar {
    width: 100%;
}
.top-navbar .open-action-menu {
    display: none !important;
}
#leftMenuPanel {
    left: 0;
    width: 250px;
    display: block;
}
#leftMenuPanel .page {
    background-color: #861E00;
}
.layout-dark #leftMenuPanel .page {
    background-color: #424242;
}
.view-main {
    float: right;
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -ms-calc(100% - 250px);
    width: calc(100% - 250px);
}
.view-main.left-menu-hidden {
    float: none;
    width: 100%;
}
.backBtn {
    display: none !important;
}
#openContactPopupBtn {
    display: none;
}
#leftMenuPanel.hidden {
    width: 250px;
    left: -250px;
}
#leftMenuPanel a:hover {
    background-image: none;
    background-color: transparent;
}

#leftContactList, #leftGroupList {
    width: 80%;
}
#leftMenuPanel .item-title, #leftMenuPanel a {
    color: #fff;
}
#leftMenuProfileName {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 16px;
}
#leftMenuUserInfo {
    font-size: 20px;
    font-weight: 200;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    color: #000000;
}

.dropit-submenu li {
    padding: 5px 0;
}
.notifications {
    top: 0 !important;
    bottom: auto !important;
}

/* emoji picker */
.emoji-toolbar-scroll-container button {
    background-color: #fff;
    color: black;
}
.emoji-toolbar-scroll-container button:focus {
    outline: none;
}
.emoji-toolbar-scroll-container button {
    background-color: black;
    color: #fff;
}
.popover-emoji .tab-link-highlight {
    display: none;
}
.emoji-picker-header {
    background-color: black !important;
}