.panel .item-content {
    color: #fff;
}

.popup-contact .navbar {
    background-color: #f7f7f8;
    background-position: center;
    background-repeat: no-repeat;
}

#chatPageContent {
    padding-bottom: 48px;
}
.expire-message-toggled #chatPageContent {
    padding-bottom: 100px;
}

#emojiPickerBtn {
    display: none;
}

#newMessageInput {
    padding-right: 20px;
}

.bottom-chat-toolbar .toolbar-inner {
    padding: 0;
}

#inputChatExpireMessageBtn {
    padding: 0;
}

#contactPopup .tab-link {
    color: #222;
}

#contactPopup .tab-link.active {
    color: #ff9500;
}

#chat-content {
    margin-bottom: 48px;
}